{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
<h3>Recommendations based on genres</h3>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
    <div class="dropdown-menu" id="selectcat" aria-labelledby="btnGroupDrop1">
      {% for category in categories %}
          <a class="dropdown-item" value="{{ category.Category }}">{{ category.Category }}</a>                
      {% endfor %}         
    </div>
    <div >
      <div> 
        <Strong>Selections</Strong>
      </div>
      <div class="text-left">
        <input id="topn" class="border-0" type="range" min="5" max="50" value="5"/>     
        <span id="topnsel">5</span>
      </div>
    </div>
  </div>
</div>
<div id="results" class="container-fluid" >
</div>
<div id="message">  
</div>
  
<script>
 $("#selectcat a").on('click', function(e) {
  e.preventDefault(); // cancel the link behaviour
  var selText = $(this).text();
  topn=document.getElementById("topn").value
  url='{{ url_for("results") }}?category='+selText+'&'+"topn="+topn;
  console.log(url);
  $("#results").load(url);
  
});
</script>
<script>
  $("#topn").on('input',function(e){
    document.getElementById("topnsel").innerHTML=this.value;
  });
</script>
{% endblock %}