{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
<h3>Recommendations based on preferences</h3>
<div class="btn-group" role="group" >
    <button id="btnGroupDrop1" type="button" class="btn btn-primary">
      Start Rating
    </button>
    <div >
      <div> 
        <Strong> Number of Movies</Strong>
      </div>
      <div class="text-left">
        <input id="topn" class="border-0" type="range" min="10" max="50" value="5"/>     
        <span id="topnsel">10</span>
      </div>
    </div>
</div>
<form id="selectionform" action="/inputselection" method="GET"> 
  <button id="submitbutton" class="btn btn-primary" action="submit">
    Done Rating 
  </button>
<div id="results" class="container-fluid" >
 
</form>      
</div>
<div id="message">  
</div>

  
<script>
$("#btnGroupDrop1").on('click', function(e) {
    e.preventDefault(); 
    topn=document.getElementById("topn").value
    console.log(topn);
    $("#results").html("<h3>Finding Movies, please wait....</h3>");
    url='{{ url_for("listselection") }}?topn='+topn;
    console.log(url);
    $("#results").load(url);  
});
</script>
<script>
  $("#topn").on('input',function(e){
    document.getElementById("topnsel").innerHTML=this.value;
  });
</script>

<script>
    $("#submitbutton").on('click', function(e) {
    e.preventDefault(); // cancel the link behaviour    
    url='{{ url_for("inputselection") }}'
    console.log('url');
    param=$("#selectionform").serialize();
    console.log(param);
    $("#results").html("<h3>Finding Movies, please wait....</h3>");
    $("#results").load(url,param);  
  });
 </script>
{% endblock %}