<div>
        <div class="movie-container">  
          {% for movie in movies %}
          <div class="movie-item rounded" >
            <div class="movie-text-box">
                <p class="movie-title"><span class="movie-span">{{ movie.Title }}</span></p>
            </div>  
            <div class="movie-image">
                  <img src="{{ url_for('static', filename=movie.Filename)}}">
            </div>
            <div class="movie-text-box">
              <p class="movie-year"><span class="movie-span">{{ movie.Year }}</span></p>
            </div>
          </div>          
          {% endfor %}
        </div>
  </div>